body {
  background-color: #303030;
}

.chart_view{
  display: flex;
  justify-content: space-between; 
}

.chart_child {
  width: 30%; 
  background-color: rgb(255, 255, 255); 
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

#quality_sleep {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#quality_sleep:hover {
  background-color: #7aaadf;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}



